<br/>
<br/>
<br/>

<br/>

<div class = 'container'>
  
  <div class="row">
    <table>
      <tr>
        <td>
          <div class="div1"> <%= link_to "#{user_name_detail(@user_name)}'s projects", projects_path, :style=>'color: red;'%> <%= user_projects(@user_projects)%> </div>
        </td>

       <% 7.times do %>
          <td> </td>
        <% end %>

        <td>
          <div class="div2"> <%= link_to "Assign Tasks", assign_tasks_projects_path, :style=>'color: red;'%> </div>
        </td>

        <% 7.times do %>
          <td> </td>
        <% end %>
        
        <td>
          <div class="div3">  <%= link_to "Comment Tasks", display_task_details_tasks_path, :style=>'color: red;'%> </div>
        </td>
      </tr>
    </table>
  </div>
  <br/>

  <% 7.times do %>
    <table>
      <tr>
        <td> </td>
      </tr>
    </table>
  <% end %>

  <div class="row">
    <table>
      <tr>
        <td>
          <div class="div1"> <%= link_to "Add project owners", project_owners_path, :style=>'color: red;'%> </div>
        </td>

         <% 7.times do %>
           <td> </td>
         <% end %>

        <td>
          <div class="div2"> <%= link_to "Assign projects(project owners)",assign_projects_to_project_owner_project_owners_path, :style=>'color: red;'%> </div>
        </td>

         <% 7.times do %>
           <td> </td>
         <% end %>

        <td>
          <div class="div3"> <%= link_to "View Employees", employees_path, :style=>'color: red;'%> </div>
        </td>
      </tr>
    </table>
  </div>
  <br/>

  <% 7.times do %>
    <table>
      <tr>
        <td> </td>
      </tr>
    </table>
  <% end %>

  <div class="row">
    <table>
      <tr>
        <td>
          <div class="div1"> <%= link_to "search projects", search_projects_data_searches_path, :style=>'color: red;'%> </div>
        </td>

        <% 7.times do %>
           <td> </td>
         <% end %>

        <td>
          <div class="div2"> <%= link_to "Record logs", record_logs_path, :style=>'color: red;'%> </div>
        </td>

        <% 7.times do %>
           <td> </td>
         <% end %>

      </tr>
    </table>
  </div>

</div>