<p id="notice"><%= notice %></p>

<p>
  <strong><%= @task.project.title %></strong>
</p>

<p>
  <strong><%= @task.task_name %></strong>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
